.content{
    width: 100%;
    height: auto;
    min-height: 200vh;
    background-color: #EAEDED;
    margin-top: -350px;
    position: relative;
}

.product__wrapper{
    position: relative;
    z-index: 6;
    width: 96%;
    height: auto;
    min-height: 450px;
    margin: 29px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
}